body {
    background-color: black;
    height: 97vh;
    color: white;
    font: 1rem Inconsolata, monospace;
}

.console {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
    font: 1rem Inconsolata, monospace;
}

.cursor {
    position: absolute;
    display: inline-block;
    width: 1ch;
    border-width: thin;
    border-color: white;
}


@keyframes blink {
    50% {
        backdrop-filter: invert(100%);
    }
}