body {
    background-color: black;
    color: white;
    font: 1rem Inconsolata, monospace;
}

.banner {
    position: fixed;
    padding-top: 3px;
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 80%;
}

.textArea {
    padding-top: calc(1ch + 4px);
}

.terminal {
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
    font: 1rem Inconsolata, monospace;
    white-space: pre-line;
}

.cursor {
    display: inline-block;
    width: 1ch;
    outline-width: thin;
    outline-color: white;
    outline-offset: -1px;
}


@keyframes blink {
    50% {
        color: black;
        background-color: white;
    }
}